* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.page-wrap {
    max-width: 1100px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    min-height: 100vh;
}

header {
    background-color: {{ theme.text_color.color }};
    background-size: cover;
    color: #000;
    padding: 1em 2em 1em 2em;
    margin-bottom: 3em;
}

footer {
    background-color: rgb(232, 236, 208);
    background-size: cover;
    color: #000;
    padding: 1em 2em 1em 2em;
    margin-bottom: 3em;
}

.headerColor {
    color: black;
}

.hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    float: left;
    padding-left: 25px;
}

.hs-menu-wrapper.hs-menu-flow-horizontal ul {
    list-style: none;
    margin: 0;
    padding-inline-start: -20px;
}


.hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    display: inline-block;
    padding-inline-start: 0px;
}