<!--
  templateType: global_partial
  label: Website header
-->
<header>
    <h1 class="headerColor">
      {% module "text" path="@hubspot/text" value="Cats are wonderful." %}
    </h1>
    <p class="headerColor">
      {% module "headerpara" path="@hubspot/rich_text" value="This is a text box" %}
    </p>

    <div>
      {% global_partial path='./menu.html' %}
    </div>
</header>