.container {
    display: flex;
    align-items: left;
    justify-content: left
}

img {
    width: 150px;
    height: 150px;
}

.text {
    /* align-self: flex-end; */
    padding-left: 20px;
    /* position: bottom; */
    /* bottom: 0; */
    /* left: 0;   */
}