<div>    
    <h1>{{ module.missionHeader }}</h1>
    <div class="container">
        <div>
            <img src="{{ module.missionImage.src }}" alt="{{ module.missionHeader.alt }}" />    
        </div>
        <div class="text">
            {{ module.missionDetail }}
        </div>
    </div>
</div>