<!--
    templateType: page
    isAvailableForNewContent: true
    label: Homepage
-->
<html>
  <head>
    {{ require_css(get_asset_url('../css/main.css')) }}
    {{ standard_header_includes }}
  </head>
  
  <body>
    <div class="page-wrap">
        {% global_partial path='./partials/header.html' %}
        {% module "ourmission" path="../modules/ourmission.module" %}
        
        {% module "ourteam" path="../modules/Testimonial.module" %}

        {% global_partial path='./partials/footer.html' %}
    </div>
    
    {{ standard_footer_includes }}
  </body>
</html>

