<div>
  <h1>Our Team</h1>
  <div class="row">
    {% for teamPlayer in module.ourteam %}
      <div class="column">
        <img class="testimonial__picture" src={{ teamPlayer.profile_pic.src }} alt={{ teamPlayer.profile_pic.alt }}>
        {{ teamPlayer.description }}
      </div>
    {% endfor %}
  </div>
</div>