.testimonial {
  text-align: left;
}

.testimonial__picture {
  display: block;
  margin: auto;
  float: none;
  margin: 0 15px 0 0;
  width: 100px;
  height: 100px;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* If a screen is 992px or less wide, keep two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

/* If a screen is 600px or less wide, stack the columns on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}